:root {
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.563rem;
  --font-size-2xl: 1.953rem;
  --font-size-3xl: 2.441rem;
  --font-size-4xl: 3.052rem;

  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Roboto Serif', serif;
}
